{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/auroraLogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/pacific2.css' %}">

  <title>BISTRO AURORA</title>
</head>
<body>
  {% include "myapp/loader.html" %}
  {% include "myapp/podium/header.html" %}
  {% include "myapp/podium/about.html" %}
  {% include "myapp/podium/favorites.html" %}
  {% include "myapp/podium/testimonials.html" %}
 {% include "myapp/podium/gallery.html" %}
  {% include "myapp/podium/location.html" %}
</body>
</html>