{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AURORA</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'css/pacific.css' %}">
</head>
<body>
{% include "myapp/loader.html" %}
<header>
  <!-- Top: logo left, icons right -->
  <div class="top-row">
    <img src="{% static 'images/branding.png' %}" class="logo" alt="Logo">
    <div class="social-icons">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-tiktok"></i>
      <button class="book-btn">BOOK NOW</button>
    </div>
  </div>

  <!-- Nav: below logo, left aligned -->
  <nav>
  <div class="nav-container">
    <ul>
      <li><a href="" class="active">HOME</a></li>
      <li><a href="">ABOUT</a></li>
      <li><a href="">MENU</a></li>
      <li><a href="">RESERVATIONS</a></li>
      <li><a href="">GALLERY</a></li>
      <li><a href="">UPDATES</a></li>
      <li><a href="">CONTACT US</a></li>
    </ul>
    <div class="switch-logo" onclick="navigateWithLoader2('{% url 'podium' %}')">
  <h1><em>Switch to:</em></h1>
  <img src="{% static 'images/branding1.png' %}" alt="" style="width: 130px; height: 40px;">
</div>

  </div>
</nav>
<br>
<hr style="color: blue;">
<br>
</header>

</body>
</html>
