{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/auroraLogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/pacific2.css' %}">
  <title>AURORA</title>
</head>
<body>
  {% include "myapp/loader.html" %}
  {% include "myapp/pacificstar/header.html" %}
  {% include "myapp/pacificstar/about.html" %}
  {% include "myapp/pacificstar/favorites.html" %}
  {% include "myapp/pacificstar/testimonials.html" %}
  {% include "myapp/pacificstar/gallery.html" %}
  {% include "myapp/pacificstar/location.html" %}
  {% include "myapp/pacificstar/footer.html" %}
  {% include "myapp/pacificstar/viewbutton.html" %}

</body>
</html>